<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">My Professional Career</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>'Learning Sabbatical'</h4>
                                <h4>JUN 2019</h4>
                                <h4>PRESENT</h4>
                                <h4 class="subheading">Web Development</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Taking time to spend with family and prepare for career pivot to Mobile and Web Application development.</p>
                            </div>
                        </div>
                        </li>
                        <li class="timeline-inverted">
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Danaher (Hach)</h4>
                                <h4>DEC 2017</h4>
                                <h4>1 YR & 8 MOS</h4>
                                <h4 class="subheading">Firmware Engineer</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Developement of firmware for water analyzers. Built full-stack prototype IOT system for industrial field controllers.</p>
                            </div>
                        </div>
                        </li>
                        <li>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Broadcom</h4>
                                <h4>JAN 2013</h4>
                                <h4>3 YR & 4 MOS</h4>
                                <h4 class="subheading">Firmware Engineer</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Designed and implemented very low level, efficient FW for several SERDES (serialize/deserialize) ASICs used in very high speed computer interfaces such as Ethernet, SAS/SATA..</p>
                            </div>
                        </div>
                        </li>
                        <li class="timeline-inverted">
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Schneider Electric (Pelco)</h4>
                                <h4>JUN 2008</h4>
                                <h4>4 YR & 7 MOS</h4>
                                <h4 class="subheading">Software Engineer</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Embedded software for digital video cameras.  Integrated third party video analytics SW into existing digital video camera. Developed embedded web application for video recorder.</p>
                            </div>
                        </div>
                        </li>
                        <li>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Hewlett-Packard</h4>
                                <h4>JAN 2003</h4>
                                <h4>5+ YR</h4>
                                <h4 class="subheading">Software Engineer</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Developed FW for several digital cameras. Local expert in key areas: performance and embedded code/memory usage. Reduced effective camera boot time from 5 seconds to under 1 second. Designed SW simulator for DSP image processing engine of 2 competing ASICS, allowing direct porting of key algorithms between platforms.</p>
                            </div>
                        </div>
                        </li>
                        </ul>                </div>
            </div>
        </div>
    </section>